$containerWidth: 940px;
$baseFontSize: 16px;
$z-fixed-menu: fixed;

//breakpoits
$tablets: 768px;
$phones: 480px;

@import "media";
@import "layout";

//blocs
@import "blocs/hero";
@import "blocs/header";
@import "blocs/features";
@import "blocs/feauture";
@import "blocs/btn";
@import "blocs/section";
@import "blocs/benefits";
@import "blocs/benefits-section";
@import "blocs/reviews";
@import "blocs/ineractive-avatar";
@import "blocs/form";
@import "blocs/order-section";
@import "blocs/radio";
@import "blocs/fixed-menu";
@import "blocs/humburger";
@import "blocs/contacts";
@import "blocs/slider";
@import "blocs/gear";
@import "blocs/specifacations";
@import "blocs/cost";
@import "blocs/mobal-menu";
@import "blocs/accordeon";
@import "blocs/sizes";
@import "blocs/team";
@import "blocs/modal";



