html, body {
  height: 100%;
}

body {
  font-size: 16px;
  font-family: "Play", Arial, Helvetica, sans-serif;
  line-height: 1.2;
  color: #666666;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

.wrapper {
  position: relative;
  width: 100%;
  min-width: 960px;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 940px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

p {
  margin: 0;
  padding: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.hero {
  height: 100vh;
  min-height: 652px;
  background: url("../../img/beats.png") right 8% bottom 30% no-repeat;
  background-color: #F5F5F5;
  color: #292929;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 30px 0 70px 0;
}

.hero__title-section {
  width: 40%;
}

.hero__main_title {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 1.08;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.hero__title_desc {
  font-family: Alegreya Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 1.2;
  padding-right: 10%;
  margin-bottom: 36px;
}

.header {
  padding: 24px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu__list {
  display: flex;
  align-items: center;
}

.menu__link {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 18px;
  text-decoration: none;
}

.menu__item {
  margin-right: 27px;
}
.menu__item:last-child {
  margin-right: 0;
}

.phone-number {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 18px;
}

.phone-number__icon {
  margin-right: 6px;
}

.phone-number__icon-elem {
  width: 12px;
  height: 12px;
}

.features {
  display: flex;
}

.features__item {
  margin-right: 25px;
}
.features__item:last-child {
  margin-right: 0;
}

.feature {
  display: flex;
  line-height: 1.12;
}

.feature__icon {
  width: 39px;
  margin-right: 20px;
}

.feature__text {
  max-width: 114px;
}

.btn {
  padding: 18px 41px;
  font-weight: bold;
  color: #FFFFFF;
  background: #E01F3D;
  border-radius: 100px;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1;
  border: none;
  overflow: hidden;
}

.btn-theme-transparent {
  background: transparent;
}

.form-btn:focus {
  outline: none;
}

.section {
  display: flex;
  height: 100vh;
  min-height: 650px;
  flex-direction: column;
  justify-content: center;
}

.section__title {
  font-weight: bold;
  font-size: 48px;
  margin-bottom: 53px;
  text-transform: uppercase;
  text-align: center;
  color: #292929;
}

.headline {
  text-align: center;
  margin-bottom: 62px;
}

.headline__title {
  margin-bottom: 18px;
}

.headline__subtitle {
  font-weight: normal;
  line-height: 1.18;
  padding: 0 22%;
}

.benefits {
  display: flex;
}

.benefits__item {
  flex: 1;
  position: relative;
  padding: 0 3%;
}
.benefits__item::before {
  content: url("../img/separator.png");
  position: absolute;
  top: 30px;
  right: 0;
  transform: translateX(50%);
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child::before {
  display: none;
}

.benefit {
  text-align: center;
}

.benefit__image {
  margin-bottom: 24px;
}

.benefit__image-wrapper {
  display: inline-block;
  width: 128px;
  height: 128px;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
}

.benenit__icon {
  position: absolute;
  width: 34px;
  height: 60px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.benefit__title {
  font-weight: bold;
  font-size: 24px;
  color: #292929;
  margin-bottom: 7px;
}

.benefit__desc {
  padding: 0 3%;
}

.reviews-section {
  background: #FFFFFF;
}

.reviews__display {
  padding: 42px;
  background: #F8FAF9;
  margin-bottom: 15px;
  overflow: hidden;
  position: relative;
}
.reviews__display::before {
  content: "";
  display: block;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: #FFFFFF;
  position: absolute;
  left: 50%;
  top: -65px;
  transform: translateX(-50%);
}

.reviews__display-inner {
  display: flex;
}

.reviews__avatar {
  width: 253px;
  height: 264px;
}

.reviews__avatar-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  flex: 1;
}

.reviews__title {
  font-weight: bold;
  font-size: 24px;
  color: #292929;
  margin-bottom: 27px;
}

.reviews__text {
  margin-bottom: 38px;
}

.reviews__author {
  font-weight: bold;
  font-size: 18px;
  color: #292929;
}

.reviews__content {
  margin-left: 40px;
}

.reviews__switcher {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.reviews__switcher-item {
  margin-right: 6px;
}
.reviews__switcher-item:last-child {
  margin-right: 0;
}

.ineractive-avatar {
  width: 74px;
  height: 74px;
  border: 4px solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.ineractive-avatar-active {
  border-color: #E01F3D;
}

.ineractive-avatar-link {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.ineractive-avatar-img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.form {
  display: flex;
}

.form__col {
  flex: 1;
  margin-right: 27px;
}
.form__col:last-child {
  margin-right: 0;
}

.form__row {
  display: flex;
  margin-bottom: 36px;
}

.form__block {
  flex: 1;
  margin-right: 15px;
}
.form__block:last-child {
  margin-right: 0;
}

.form__title {
  margin-bottom: 6px;
  font-weight: normal;
}

.form__input {
  width: 100%;
  border: none;
  padding: 18px 12px;
  border: 3px solid transparent;
}
.form__input:focus {
  border-color: #E01F3D;
  outline: none;
}
.form__input-textarea {
  height: 152px;
  resize: none;
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
}

.order-section {
  color: #FFFFFF;
  background-color: #181818;
  background: url("../img/decor/bg-form.png") 100% 100% no-repeat;
  background-size: cover;
}

.order-section-title {
  color: #FFFFFF;
}

.radio {
  display: flex;
  cursor: pointer;
  margin-right: 16px;
  margin-bottom: 18px;
  -webkit-user-select: none;
          user-select: none;
}
.radio--checkbox .radio__visible {
  border-radius: 0;
}
.radio--checkbox .radio__visible::before {
  background: url("../img/icons/tick.png") center center no-repeat;
}
.radio:last-child {
  margin-right: 0;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}

.radio__title {
  font-weight: normal;
}

.radio__visible {
  margin-right: 10px;
  width: 25px;
  height: 25px;
  position: relative;
  border-radius: 50%;
  background: #FFFFFF;
}
.radio__visible::before {
  content: "";
  display: none;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  position: absolute;
  background: #E01F3D;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.radio--checkbox {
  margin-bottom: 46px;
}

.fixed-menu {
  position: fixed;
  top: 20%;
  right: 3%;
  z-index: fixed;
}

.fixed-menu__item {
  margin-bottom: 5px;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #E01F3D;
}
.fixed-menu__item--active .fixed-menu__link::before {
  background: #E01F3D;
  opacity: 1;
}

.fixed-menu__link {
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid transparent;
}
.fixed-menu__link::before {
  content: "";
  position: absolute;
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #292929;
  opacity: 0.6;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}