html {
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 15px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 14px;
  }
}

html, body {
  height: 100%;
}

body {
  font-family: "Play", Arial, Helvetica, sans-serif;
  line-height: 1.2;
  color: #666666;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.maincontent {
  height: 100%;
  transition: transform 1s;
  will-change: transform;
}

.container {
  width: 95%;
  max-width: 940px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

p {
  margin: 0;
  padding: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.hero {
  position: relative;
  height: 100vh;
  min-height: 40.625rem;
  background: url("../img/beats.png") right 8% bottom 30% no-repeat;
  background-color: #F5F5F5;
  color: #292929;
}
.hero::after {
  content: "";
  display: block;
  width: 2.875rem;
  height: 0.625rem;
  background: #C4C4C4;
  transform: rotate(-45deg);
  position: absolute;
  right: 10%;
  bottom: -0.375rem;
}
@media screen and (max-width: 768px) {
  .hero {
    background: url("../img/beats-sm.png") center top 12% no-repeat;
    background-color: #F5F5F5;
  }
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 100%;
}

.hero__title-section {
  width: 40%;
}
@media screen and (max-width: 768px) {
  .hero__title-section {
    margin-top: 36%;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  .hero__title-section {
    margin-top: 48%;
  }
}

.hero__main_title {
  font-style: normal;
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.08;
  text-transform: uppercase;
  margin-bottom: 1.25rem;
}
@media screen and (max-width: 768px) {
  .hero__main_title {
    padding: 0 6%;
    margin-bottom: 0.75rem;
    font-size: 3rem;
  }
}
@media screen and (max-width: 480px) {
  .hero__main_title {
    font-size: 2rem;
    padding: 0 13%;
  }
}

.hero__title_desc {
  font-family: Alegreya Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 1.3125rem;
  line-height: 1.2;
  padding-right: 10%;
  margin-bottom: 2.25rem;
}
@media screen and (max-width: 768px) {
  .hero__title_desc {
    padding: 0 27%;
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 480px) {
  .hero__title_desc {
    padding: 0 10%;
    margin-bottom: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .hero__icons_section {
    display: none;
  }
}

.header {
  padding: 1.5rem 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 6.25rem;
}

@media screen and (max-width: 768px) {
  .phone-number.header__phone-number {
    display: none;
  }
}

.menu {
  margin: 0 30px;
}
@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}

.menu__list {
  padding-top: 8px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.menu__link {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 1.125rem;
  text-decoration: none;
  white-space: nowrap;
}

.menu__item {
  margin-right: 1.5rem;
  margin-bottom: 10px;
}
.menu__item:last-child {
  margin-right: 0;
}

.phone-number {
  padding-top: 8px;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 1.125rem;
  transition: 0.3s;
}
.phone-number:hover .phone-number__icon-el, .phone-number:hover .phone-number__text {
  color: #E01F3D;
  fill: #E01F3D;
}

.phone-number__icon-el {
  width: 14px;
  height: 14px;
  margin-right: 6px;
  fill: #292929;
}

.phone-number__text {
  white-space: nowrap;
}

.features {
  display: flex;
  margin-top: 4.375rem;
}

.features__item {
  margin-right: 1.5rem;
}
.features__item:last-child {
  margin-right: 0;
}

.feature {
  display: flex;
  line-height: 1.12;
}

.feature__icon {
  width: 2.5rem;
  margin-right: 1.25rem;
}

.feature__text {
  max-width: 7.125rem;
}

.btn {
  padding: 1.125rem 2.5rem;
  font-weight: bold;
  color: #FFFFFF;
  background: #E01F3D;
  border-radius: 6.25rem;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1;
  border: none;
  overflow: hidden;
}
.btn:hover {
  background: #e64c64;
}
.btn:active {
  background: #b31931;
}

.btn-theme-transparent {
  background: transparent;
}

.form-btn:focus {
  outline: none;
}

.form-btn-reset:hover {
  background: none;
  color: #E01F3D;
}

section {
  height: 100vh;
  min-height: 40.625rem;
}
@media screen and (max-width: 480px) {
  section {
    font-size: 0.875rem;
  }
}

.container-reviews {
  padding-top: 4rem;
}

.section__title {
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 3.375rem;
  text-transform: uppercase;
  text-align: center;
  color: #292929;
}
@media screen and (max-width: 480px) {
  .section__title {
    margin-top: 2rem;
    font-size: 2rem;
  }
}

.headline {
  text-align: center;
  margin-top: 6.25rem;
  margin-bottom: 3.875rem;
}
@media screen and (max-width: 480px) {
  .headline {
    margin-bottom: 2.5rem;
    margin-top: 2.25rem;
  }
}

.headline__title {
  margin-bottom: 1.125rem;
}

.headline__subtitle {
  font-weight: normal;
  line-height: 1.18;
  padding: 0 22%;
}

.benefits {
  display: flex;
}
@media screen and (max-width: 480px) {
  .benefits {
    flex-direction: column;
  }
}

.benefits__item {
  flex: 1;
  position: relative;
  padding: 0 3%;
}
.benefits__item::before {
  content: url("../img/separator.png");
  position: absolute;
  top: 1.87rem;
  right: 0;
  transform: translateX(50%);
}
@media screen and (max-width: 480px) {
  .benefits__item::before {
    display: none;
  }
}
.benefits__item:first-child {
  padding-left: 0;
}
@media screen and (max-width: 480px) {
  .benefits__item:first-child {
    padding-left: 3%;
  }
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child::before {
  display: none;
}
@media screen and (max-width: 480px) {
  .benefits__item:last-child {
    padding-right: 3%;
  }
}
@media screen and (max-width: 480px) {
  .benefits__item {
    display: flex;
    padding: 0 3%;
    margin-bottom: 1.25rem;
  }
  .benefits__item:last-child {
    margin-bottom: 0;
  }
}

.benefit {
  text-align: center;
}
@media screen and (max-width: 480px) {
  .benefit {
    text-align: left;
  }
}

.benefit__image {
  margin-bottom: 1.5rem;
}
@media screen and (max-width: 480px) {
  .benefit__image {
    margin-right: 1.125rem;
  }
  .benefit__image:last-child {
    margin-right: 0;
  }
}

.benefit__image-wrapper {
  display: inline-block;
  width: 8rem;
  height: 8rem;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
}

.benenit__icon {
  position: absolute;
  width: 4rem;
  height: 4.3rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  fill: black;
}

@media screen and (max-width: 480px) {
  .benefit__text {
    padding: 3% 0;
  }
}

.benefit__title {
  font-weight: bold;
  font-size: 1.5rem;
  color: #292929;
  margin-bottom: 0.5rem;
}
@media screen and (max-width: 480px) {
  .benefit__title {
    font-size: 1.5rem;
  }
}

.benefit__desc {
  padding: 0 3%;
}
@media screen and (max-width: 480px) {
  .benefit__desc {
    padding: 0;
    padding-right: 12%;
  }
}

.benefits-section {
  position: relative;
  height: 100vh;
}
.benefits-section::before {
  content: url("../img/decor/triangle.png");
  position: absolute;
  left: 10%;
  bottom: -2.4%;
  z-index: 10;
}
@media screen and (max-width: 480px) {
  .benefits-section::before {
    bottom: -19.5%;
  }
}

.section-container {
  height: 100%;
  overflow: hidden;
}

.reviews-section {
  background: #FFFFFF;
  position: relative;
}
.reviews-section::after {
  content: "";
  width: 2.25rem;
  height: 2.25rem;
  background: #868686;
  border-radius: 50%;
  position: absolute;
  bottom: -2%;
  left: 15%;
}

.reviews__display {
  padding: 2.625rem;
  background: #F8FAF9;
  margin-bottom: 1rem;
  overflow: hidden;
  position: relative;
}
.reviews__display::before {
  content: "";
  display: block;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: #FFFFFF;
  position: absolute;
  left: 50%;
  top: -4rem;
  transform: translateX(-50%);
}

.reviews__list {
  position: relative;
  min-height: 17.5rem;
}

.reviews__item.active {
  position: static;
  opacity: 1;
  pointer-events: unset;
}

.reviews__item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.3s;
  opacity: 0;
}

.reviews__display-inner {
  display: flex;
}
@media screen and (max-width: 768px) {
  .reviews__display-inner {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}

.reviews__avatar {
  width: 15.875rem;
  height: 16.5rem;
}
@media screen and (max-width: 768px) {
  .reviews__avatar {
    width: 130px;
    height: 130px;
    margin-bottom: 30px;
    transform: translateX(20px);
  }
}

.reviews__avatar-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  flex: 1;
}

.reviews__title {
  font-weight: bold;
  font-size: 1.5rem;
  color: #292929;
  margin-bottom: 1.75rem;
}

.reviews__text {
  margin-bottom: 2.375rem;
}

.reviews__author {
  font-weight: bold;
  font-size: 1.125rem;
  color: #292929;
}

.reviews__content {
  margin-left: 2.5rem;
}

.reviews-switcher {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.reviews-switcher-item {
  margin-right: 6px;
}
.reviews-switcher-item:last-child {
  margin-right: 0;
}

.reviews-switcher__item.ineractive-avatar-active {
  background-color: #E01F3D;
}

.reviews-switcher__item {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  overflow: hidden;
  border: 6px solid transparent;
  position: relative;
  cursor: pointer;
}

.ineractive-avatar {
  width: 4.625rem;
  height: 4.625rem;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.ineractive-avatar-active {
  border-color: #E01F3D;
}

.ineractive-avatar-link {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.ineractive-avatar-img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.form {
  display: flex;
}
@media screen and (max-width: 768px) {
  .form {
    padding: 0 16%;
    flex-direction: column;
  }
}
@media screen and (max-width: 480px) {
  .form {
    padding: 0;
  }
}

.form__col {
  flex: 1;
  margin-right: 1.75rem;
}
.form__col:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .form__col {
    margin-right: 0;
  }
}

.form__row {
  display: flex;
  margin-bottom: 1.25rem;
}

.form__block {
  flex: 1;
  margin-right: 1rem;
}
.form__block:last-child {
  margin-right: 0;
}

.form__title {
  margin-bottom: 0.375rem;
  font-weight: normal;
}

.form__input {
  width: 100%;
  border: none;
  padding: 1.125rem 0.75rem;
  border: 0.1875rem solid transparent;
}
.form__input:focus {
  border-color: #E01F3D;
  outline: none;
}
@media screen and (max-width: 768px) {
  .form__input {
    padding: 12px 8px;
  }
}
.form__input-textarea {
  height: 11.25rem;
  resize: none;
}
@media screen and (max-width: 768px) {
  .form__input-textarea {
    height: 5rem;
  }
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 480px) {
  .form__controls {
    justify-content: center;
  }
}

.form__btns {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.input-error {
  border-color: hotpink;
}

.order-section {
  height: 100vh;
  padding-top: 0.125rem;
  color: #FFFFFF;
  background-color: #181818;
  background: url("../img/decor/bg-form.png") 100% 100% no-repeat;
  background-size: cover;
}

.order-section-title {
  margin-top: 4.125rem;
  margin-bottom: 30px;
  color: #FFFFFF;
  font-size: 48px;
}
@media screen and (max-width: 768px) {
  .order-section-title {
    margin-top: 10px;
  }
}

.radio {
  display: flex;
  cursor: pointer;
  margin-right: 1.5rem;
  margin-bottom: 1.125rem;
  -webkit-user-select: none;
          user-select: none;
}
.radio--checkbox .radio__visible {
  border-radius: 0;
}
.radio--checkbox .radio__visible::before {
  background: url("../img/icons/tick.png") center center no-repeat;
}
.radio:last-child {
  margin-right: 0;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}

.radio__title {
  font-weight: normal;
}

.radio__visible {
  margin-right: 0.625rem;
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  border-radius: 50%;
  background: #FFFFFF;
}
.radio__visible::before {
  content: "";
  display: none;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  position: absolute;
  background: #E01F3D;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.radio--checkbox {
  margin-bottom: 2.875rem;
}

.fixed-menu {
  position: fixed;
  top: 40%;
  right: 3%;
  z-index: fixed;
}
@media screen and (max-width: 768px) {
  .fixed-menu {
    display: none;
  }
}

.fixed-menu--shadowed .fixed-menu__link::before {
  content: "";
  position: absolute;
  display: block;
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 50%;
  background: #fff;
  opacity: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fixed-menu__item {
  margin-bottom: 0.375rem;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #E01F3D;
}
.fixed-menu__item--active .fixed-menu__link::before {
  background: #E01F3D;
  opacity: 1;
}

.fixed-menu__link {
  position: relative;
  display: block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid transparent;
}
.fixed-menu__link::before {
  content: "";
  position: absolute;
  display: block;
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 50%;
  background: #292929;
  opacity: 0.6;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hamburger {
  width: 24px;
  height: 20px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .hamburger {
    margin-top: 10px;
    display: inline-flex;
  }
}

.hamburger__plank {
  display: block;
  height: 4px;
  background: #292929;
  border-radius: 10px;
}

.footer {
  height: 100vh;
  background: #FFFFFF;
}

.container--footer {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.contacts {
  display: flex;
  padding: 10px 54px 20px 64px;
  height: 86px;
  justify-content: space-between;
  background: #FFFFFF;
}
@media screen and (max-width: 480px) {
  .contacts {
    height: 150px;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }
}

.contacts__adress {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1.125rem;
}
@media screen and (max-width: 480px) {
  .contacts__adress {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  .contacts__adress .footer__phone-number {
    font-size: 1rem;
  }
}

.contacts__social {
  display: flex;
  width: 48%;
  justify-content: flex-end;
}
@media screen and (max-width: 480px) {
  .contacts__social {
    width: 100%;
    justify-content: center;
    margin-left: 0;
    margin-right: 10px;
  }
}

.contacts__social--element {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  fill: #B3B3B3;
  transition: 0.6s;
}
.contacts__social--element:hover {
  fill: black;
}

#map {
  width: 100%;
  height: 100%;
  margin-bottom: 1.625rem;
}

.bx-wrapper {
  box-shadow: none;
  border: 0;
  background: transparent;
}

.slider {
  position: relative;
  padding-top: 10%;
}

.section-slider {
  height: 100vh;
  min-height: 650px;
}

.slider__arrows {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .slider__arrows {
    width: 450px;
    top: -32%;
    left: 20%;
  }
}
@media screen and (max-width: 480px) {
  .slider__arrows {
    width: 450px;
    top: -32%;
    left: 5%;
  }
}

.slider__arrow {
  background: url("../img/icons/arowright.svg") center center no-repeat;
  background-size: contain;
  display: inline-block;
  width: 0.8125rem;
  height: 1.75rem;
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  z-index: 10;
}
@media screen and (max-width: 768px) {
  .slider__arrow {
    top: 54%;
  }
}
@media screen and (max-width: 480px) {
  .slider__arrow {
    top: 50%;
  }
}
.slider__arrow-left {
  left: -2%;
  transition: 2s;
  transform: rotate(180deg) translateY(14px);
}
.slider__arrow-right {
  right: 0;
}
@media screen and (max-width: 480px) {
  .slider__arrow-right {
    right: 10%;
  }
}

.section-slider {
  height: 100vh;
  background: #F8FAF9;
}

.slider__item {
  position: relative;
  padding-top: 3.75rem;
  margin: auto;
}
@media screen and (max-width: 768px) {
  .slider__item {
    padding-top: 1.875rem;
  }
}

.slider__slide {
  display: flex;
}
@media screen and (max-width: 768px) {
  .slider__slide {
    flex-direction: column;
    align-items: center;
  }
}

.slider__logo {
  margin-top: 1.875rem;
  margin-right: 3.75rem;
}
@media screen and (max-width: 768px) {
  .slider__logo {
    margin: 0 auto;
  }
}

.items__desc {
  width: 23rem;
  color: #666666;
  margin-bottom: 1.625rem;
}
@media screen and (max-width: 768px) {
  .items__desc {
    padding: 0 4.375rem;
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  .items__desc {
    padding: 0 4.5rem;
  }
}

.items__title {
  font-weight: bold;
  font-size: 2.25rem;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  color: #292929;
}
@media screen and (max-width: 768px) {
  .items__title {
    width: 100%;
    margin-bottom: 0.875rem;
    text-align: center;
    font-size: 1.75rem;
  }
}

.gear {
  display: flex;
  margin-bottom: 1.5rem;
}

.gear__img {
  position: relative;
  width: 5.625rem;
  height: 5.625rem;
  background: #9A9A9A;
  border-radius: 4px;
}
.gear__img:hover + .gear__list {
  display: block;
  transition: 0.3s;
}
@media screen and (max-width: 768px) {
  .gear__img {
    display: none;
  }
}

.gear__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gear__list {
  position: absolute;
  right: 24.3%;
  display: none;
  z-index: 1;
}

.gear__table {
  padding: 15px;
  background: #d5d5d5;
  box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.06);
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  color: #000000;
}
.gear__table td {
  padding: 10px;
  padding-left: 15px;
  padding-right: 0;
}

.specifacations {
  display: flex;
  margin-bottom: 1.5rem;
}
@media screen and (max-width: 768px) {
  .specifacations {
    width: 100%;
    justify-content: center;
  }
}

.specifacations__item {
  margin-right: 5.375rem;
}
.specifacations__item:last-child {
  margin-right: 0;
}

.specifacations__value {
  font-weight: bold;
  font-size: 1.125rem;
  color: #000000;
}

.cost {
  display: flex;
}
@media screen and (max-width: 768px) {
  .cost {
    width: 100%;
    justify-content: center;
  }
}

.cost__value {
  margin-right: 0.75rem;
  font-size: 2.25rem;
  text-transform: uppercase;
  color: #151515;
}

.mobal-menu--wrapper {
  display: none;
  padding-top: 7.8125rem;
  max-width: 768px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background: #313131;
  position: absolute;
  color: #FFFFFF;
  font-size: 2.25rem;
}

.mobal-menu--wrapper.mobal-menu--opened {
  display: block;
}

.mobal-menu__close {
  position: absolute;
  top: 20px;
  right: 2.625rem;
}

.mobal-menu__close-icon {
  width: 20px;
  height: 20px;
}

.mobal-menu__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobal-menu__item {
  margin-bottom: 1.875rem;
}

.mobal-menu__link {
  text-decoration: none;
}

.accordion {
  background: url("../img/girl-bg.png") center center/cover no-repeat;
}
.accordion-container {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: flex-start;
  justify-content: flex-start;
}
.accordion__slide-title {
  margin-top: 7.1875rem;
  margin-left: 4.625rem;
  font-weight: bold;
  font-size: 3rem;
  text-transform: uppercase;
  color: #fff;
}
.accordion__slide-title-container {
  width: 27%;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .accordion__slide-title-container {
    width: 0;
  }
}
.accordion__slide-tabs {
  width: 73%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
@media screen and (max-width: 768px) {
  .accordion__slide-tabs {
    width: 100%;
  }
}

.sizes {
  height: 100%;
}
.sizes__list {
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.sizes__item {
  position: relative;
  min-width: 90px;
  height: 100%;
  display: flex;
  cursor: pointer;
}
.sizes__item_silver {
  background: #999999;
}
.sizes__item_black {
  background: #151515;
}
.sizes__item_red {
  background: #E01F3C;
}
.sizes__item-title {
  position: relative;
  min-width: 90px;
  height: 100%;
}
.sizes__item-title span {
  font-weight: bold;
  font-size: 2.25rem;
  color: #FFFFFF;
  transform: rotateZ(-90deg);
  transform-origin: 0 0;
  position: absolute;
  bottom: 0;
  left: 0;
  line-height: 5rem;
  white-space: nowrap;
}
.sizes__item-description {
  background: rgba(51, 53, 55, 0.9);
  max-width: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
}
.sizes__item-description_active {
  max-width: 524px;
  opacity: 1;
  visibility: visible;
}
.sizes__item-description p {
  height: 100%;
  padding: 1.9375rem 2.375rem;
  font-size: 1rem;
  color: #fff;
}

.container-team {
  padding-top: 4.5rem;
}
@media screen and (max-width: 768px) {
  .container-team {
    padding-top: 3.125rem;
  }
}

.team {
  display: flex;
  justify-content: center;
  padding: 0 80px;
}
@media screen and (max-width: 768px) {
  .team {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .team-title {
    margin-bottom: 1rem;
  }
}

.team__item {
  position: relative;
  width: 220px;
  margin-right: 20px;
}
.team__item:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .team__item {
    width: auto;
    margin-right: 0;
    margin-bottom: 0.375rem;
  }
}

.team__member {
  margin-bottom: 1.5625rem;
  width: 222px;
}
@media screen and (max-width: 768px) {
  .team__member {
    margin: 0 auto;
    margin-bottom: 1.25rem;
  }
}

@media screen and (max-width: 768px) {
  .team--version--desctop {
    display: none;
  }
}

.team--version--desctop.team__content {
  position: absolute;
  top: 100%;
}

.team__content {
  overflow: hidden;
  transition: 0.3s;
  height: 0;
}

.team__content-block {
  text-align: center;
}

.team__content-text {
  padding: 0 3%;
}
@media screen and (max-width: 768px) {
  .team__content-text {
    padding: 0 30%;
  }
}
@media screen and (max-width: 480px) {
  .team__content-text {
    padding: 0 15%;
  }
}

.team__title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  margin: 0 auto;
  margin-bottom: 0.6875rem;
  border: none;
  cursor: pointer;
  background: #fff;
  font-weight: bold;
  font-size: 1.125rem;
}
.team__title::after {
  content: "";
  display: inline-block;
  margin-left: 6px;
  width: 0;
  height: 0;
  transition: 0.3s;
  border: 4px solid transparent;
  border-top: 4px solid #E01F3D;
}
@media screen and (max-width: 768px) {
  .team__title::after {
    border: 4px solid transparent;
    border-top: 4px solid #365A49;
  }
}
.team__title:focus {
  outline: none;
}

.team__item.active .team__title::after {
  align-self: center;
  border: 4px solid transparent;
  border-bottom: 4px solid #E01F3D;
}
@media screen and (max-width: 768px) {
  .team__item.active .team__title::after {
    border: 4px solid transparent;
    border-bottom: 4px solid #365A49;
  }
}

.team__occ {
  margin-bottom: 0.25rem;
  font-weight: bold;
}

.team--version--mobile {
  display: none;
}
@media screen and (max-width: 768px) {
  .team--version--mobile {
    display: block;
  }
}

.modal {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  margin: auto;
  background: rgba(49, 49, 49, 0.5);
}
.modal.error-modal modal__content {
  color: red;
}
.modal .facybox-content {
  padding: 0 !important;
}
.modal .facybox-content {
  display: none;
}

.modal__wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}

.modal__container {
  background: #FFFFFF;
  padding: 36px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  height: auto;
  margin: auto;
}

.modal__content {
  margin-bottom: 15px;
  color: #000000;
  font-size: 1.125rem;
}

.app-close-modal {
  display: block;
}

.work__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
}

.video {
  position: relative;
}
.video__mp4 {
  display: flex;
  width: 662px;
  height: 392px;
}
@media screen and (max-width: 768px) {
  .video__mp4 {
    width: 100%;
    height: auto;
  }
}
.video .paused .video__play-icon {
  visibility: hidden;
}
.video .paused .video__playpause-icon {
  fill-opacity: 0.3;
}
.video__controls {
  display: flex;
  align-items: center;
  background: #151515;
  height: 35px;
  padding: 0 17px;
}
@media screen and (max-width: 768px) {
  .video__controls {
    padding: 0 38px;
  }
}
@media screen and (max-width: 480px) {
  .video__controls {
    padding: 0 23px;
  }
}
.video__playpause {
  display: flex;
  align-items: center;
  height: 35px;
  width: 36px;
  cursor: pointer;
}
.video__playpause-icon {
  width: 11px;
  height: 16px;
}
.video__play {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.video__play-icon {
  width: 48px;
  height: 70px;
}
.video__progress {
  display: flex;
  height: 4px;
  background: #333333;
  flex: 1;
  cursor: pointer;
}
.video__total {
  width: 100%;
  height: 100%;
  display: flex;
  background: #333333;
}
.video__current {
  display: flex;
  height: 100%;
  position: relative;
}
.video__current::before {
  content: "";
  height: 11px;
  width: 11px;
  border-radius: 50%;
  display: flex;
  background-color: #E01F3D;
  position: absolute;
  top: 0;
  transform: translate(0, -35%);
  left: 100%;
}
.video__volume-progress {
  display: flex;
  height: 4px;
  min-width: 58px;
  margin-left: 7px;
  background: #333333;
  flex: 1;
  cursor: pointer;
}
.video__volume-current {
  display: flex;
  height: 100%;
  position: relative;
}
.video__volume-current::before {
  content: "";
  height: 11px;
  width: 11px;
  border-radius: 50%;
  display: flex;
  background-color: #E01F3D;
  position: absolute;
  top: 0;
  transform: translate(0, -35%);
  left: 100%;
}
.video__volume {
  display: flex;
  align-items: center;
  margin-left: 38px;
}
@media screen and (max-width: 768px) {
  .video__volume {
    display: none;
  }
}
.video__volume-control {
  width: 12px;
  height: 16px;
}
.video .muted svg {
  fill-opacity: 0.3;
}
.video svg {
  max-width: 100%;
  max-height: 100%;
  fill: white;
}

.work__title {
  margin-top: 58px;
}