.benefits-section {
    position: relative;
    &::before {
        content: url("../img/decor/triangle.png");  
        position: absolute;
        left: 10%;
        bottom: -2.4%;
        z-index: 10;
    }
}