.fixed-menu {
    position: fixed;
    top: 40%;
    right: 2%;
    z-index: $z-fixed-menu;
    @include tablets {
        display: none;
        }
}

.fixed-menu__item {
    margin-bottom: 0.375rem;
    &--active {
        .fixed-menu__link {
            border-color: #E01F3D;
            &::before {
                background: #E01F3D;
                opacity: 1;
            }
        } 
    }
}

.fixed-menu__link {
    position: relative;
    display: block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 1px solid transparent;
    &::before {
        content: "";
        position: absolute;
        display: block;
        width: 0.375rem;
        height: 0.375rem;
        border-radius: 50%;
        background: #292929;
        opacity: 0.6;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}