.order-section {
    color: #FFFFFF;
    background-color: #181818;
    background: url("../img/decor/bg-form.png") 100% 100% no-repeat;
    background-size: cover;
}

.order-section-title {
    color: #FFFFFF;
}