.radio {
    display: flex;
    cursor: pointer;
    margin-right: 1.5rem;
    margin-bottom: 1.125rem;
    user-select: none;
    &--checkbox {
        .radio__visible{
            border-radius: 0;
            &::before {
                background: url("../img/icons/tick.png") center center no-repeat;
            }
        }  
    }
    &:last-child {
        margin-right: 0;
    }
}

.radio__elem {
    display: none;
    
    &:checked ~ .radio__visible {
        &::before {
            display: block;
        }
    }
}

.radio__title {
    font-weight: normal;
}

.radio__visible {
    margin-right: 0.625rem;
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
    border-radius: 50%;
    background: #FFFFFF;
    &::before {
        content: "";
        display: none;
        width: 0.75rem;
        height: 0.75rem;
        border-radius: 50%;
        position: absolute;
        background: #E01F3D;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.radio--checkbox {
    margin-bottom: 2.875rem;
}