section {
    height: 100vh;
    min-height: 40.625rem;
    @include phones {
        font-size: rem(14px);
    }
}

.container-reviews {
    padding-top: rem(64px);
}


.section__title {
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 3.375rem;
    text-transform: uppercase;
    text-align: center;
    color: #292929;
    @include phones {
        margin-top: rem(32px);
        font-size: rem(32px);  
    }
}

.headline {
    text-align: center;
    margin-top: rem(100px);
    margin-bottom: 3.875rem;
    @include phones {
       margin-bottom: rem(40px);
       margin-top: rem(36px);
    }
}

.headline__title {
    margin-bottom: 1.125rem;
}

.headline__subtitle {
    font-weight: normal;
    line-height: 1.18;
    padding: 0 22%;
}
