.bx-wrapper {
    box-shadow: none;
    border: 0;
    background: transparent;
} 

.slider {
    position: relative;
    width: 100%;
}

.slider__arrows {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    @include tablets {
        width: 450px;
        top: -32%;
        left: 20%;
    }

    @include phones {
        width: 450px;
        top: -32%;
        left: 5%;
    }
}

.slider__arrow {
    background: url('../../img/icons/arowright.svg') center center no-repeat;
    background-size: contain;
    display: inline-block;
    width: rem(13px);
    height: rem(28px);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    &-left {
        left: -2%;
        transition: 2s;
        transform: rotate(180deg) translateY(14px);  
    }

    &-right {
        right: 0; 
        @include phones {
            right: 10%;
        }
    }
}

.section-slider {
    height: 100vh;
    background: #F8FAF9;
}

.slider__item {
    position: relative;
    padding-top: rem(60px);
    @include tablets {
        padding-top: rem(30px); 
    }
}

.slider__slide {
    display: flex;
    @include tablets {
        flex-direction: column;
        align-items: center;
    } 
}

.slider__logo {
    margin-top: rem(30px);
    margin-right: rem(60px);
    @include tablets {
        margin: 0 auto;
    }
}

.items__desc {
    width: rem(368px);
    color: #666666;
    margin-bottom: rem(26px);
    @include tablets {
        padding: 0 rem(70px);
        width: 100%;
        text-align: center;
    } 

    @include phones {
        padding: 0 rem(72px); 
    }
}

.items__title {
    font-weight: bold;
    font-size: rem(36px);
    text-transform: uppercase;
    margin-bottom: rem(24px);
    color: #292929;
    @include tablets {
        width: 100%;
        margin-bottom: rem(14px);
        text-align: center;
        font-size: rem(28px);
    } 
  }


